<h1 class="text-center">STUPID COACHING</h1>



<div class="container">
  <form action="/answer">
    <p id="form-instruction" class="text-center">Ask your coach anything:</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Say something to your coach" name="question">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ask</button>
      </div>
    </div>
  </form>
</div>
